<div id="cards">
    <div class="card myClass" style="width: 18rem;" *ngFor="let contact of contacts; let i = index">
        <img src="../../../assets/img/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{contact.name}}</h5>
          <p class="card-text">{{contact.lastname}}</p>
          <p class="card-text">{{contact.phone}}</p>
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="obtenerData(contact)">Update</a>
          <a class="btn btn-danger mx-2" data-toggle="modal" data-target="#myModal" (click)="obtenerData(contact)">Remove</a>
        </div>
      </div>
</div>


<!-- Modal para actualizar contacto-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal text-center">Update this contact</h1>
          <div class="form-group">
              <label for="inputName">Name</label>
              <input [(ngModel)]="contactSelected.name" name="name" class="form-control" id="inputName" type="text" placeholder="your name" >
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputUsername">Lastname</label>
                  <input [(ngModel)]="contactSelected.lastname" name="username" class="form-control" type="text" id="inputUsername" placeholder="username" >
              </div>
              <div class="from-group col-md-6">
                  <label for="inputLastname">Phone</label>
                  <input [(ngModel)]="contactSelected.phone" #lastname="ngModel" name="password" class="form-control" type="text" id="inputLastname" placeholder="lastname">
              </div>
          </div>
      </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updateContact()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para eliminar contacto-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myExampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myExampleModalLabel">Danger Zone!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="mb-3 mt-5 text-muted text-center">Are you sure to detele this contact?</span>
        <h4 class="text-center">{{contactSelected.name}}</h4>
        <h3 class="text-center">This action is irreversible!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="removeContact()">I'm Sure</button>
      </div>
    </div>
  </div>
</div>
